<p id="notice"><%= notice %></p>

<p>
  <strong>Step:</strong>
  <%= @step.step_number %>
</p>

<p>
  <strong>Body:</strong>
  <%= @step.body %>
</p>

<%= link_to 'Edit', edit_instruction_path(@step) %>
<%= link_to 'Delete', method: :destroy%>

